<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HR Dashboard</title>
  
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto:wght@300;400;500&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main_dashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/view_answer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/hr_dashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/weekly_questions.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Raleway:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <div class="dashboard-container">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-header">
        <h2 class="sidebar-title">HR Dashboard</h2>
      </div>
      <div class="sidebar-content">
        <ul class="sidebar-menu">
      


      
        </ul>
      </div>
      <div class="sidebar-footer">
        <ul class="sidebar-menu">
          <li class="sidebar-menu-item">
            <form action="{{ url_for('logout') }}" method="POST">
              <button type="submit" class="sidebar-menu-link" style="background: none; border: none; cursor: pointer;">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>

    {% block content %}{% endblock %}

  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/hr_dashboard.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/weekly_questions.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/view_answer.js') }}"></script>
</body>
</html>
